<tr>
  <td>
    <%= check_box_tag "user_ids[]", user.id, false, class: "user-checkbox" %>
  </td>
  <td><%= index %>.</td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.username %></td>
  <td><%= user.mobile_number %></td>
  <td><%= user.email %></td>
  <td>
    <% status = user.active_status %>
    <span class="<%= ApplicationHelper.handle_active_class(status).downcase %>_status">
      <%= ApplicationHelper.handle_active_class(status) %>
    </span>
  </td>
  <td class="action-menu">
    <div class="more-options">
      <span class="material-icons-sharp more-icon">more_vert</span>
      <div class="mini-modal">
        <%= link_to show_user_path(user), class: "modal-action" do %>
          <span class="material-icons-sharp">visibility</span> View
        <% end %>
        <div class="modal-divider"></div>
        <%= link_to edit_user_path(user), class: "modal-action", remote: true do %>
          <span class="material-icons-sharp">edit</span> Edit
        <% end %>
        <div class="modal-divider"></div>
        <%= link_to delete_user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "modal-action modal-danger" do %>
          <span class="material-icons-sharp">delete</span> Delete
        <% end %>
      </div>
    </div>
  </td>
</tr>
