<div id="<%= dom_id contact %>">
  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= contact.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= contact.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= contact.del_status %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= contact.region %>
  </p>

  <p>
    <strong>Residence:</strong>
    <%= contact.residence %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= contact.location_id %>
  </p>

</div>
